body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
    height: 5000px;
  }
  
header{
    position: fixed;
    top: 0;
    z-index: 999;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
    font-family: 'Cinzel Decorative', serif;
    transition: 0.6s;
}

nav{
    display: flex;
    background-color: #EEBFD9;
    color: #2B3A42;
    justify-content: center;
    align-items: center;
    width: 100%;
}


nav ul{
    padding: 0 20% !important;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    
} 

nav li a{
    text-transform: lowercase !important;
    font-size: 1.8em;
    line-height: 1.5em;
    color: dimgray;
}

nav li a:hover{
}
